<div class="posts">
  {% for post in posts %}
    <div class="post">
      {% if post.page.url and post.data.title %}
        <div class="title">
          <a href="{{ post.page.url }}">{{ post.data.title }}</a>
        </div>
      {% endif %}

      {% if post.data.description %}
        <div class="description">{{ post.data.description }}</div>
      {% endif %}
    </div>
  {% endfor %}
</div>

{% if previousHref or nextHref %}
  <div class="pagination">
    <div class="previous">
      {% if previousHref %}
        <div>« Previous</div>
        <a href="{{ previousHref }}">Page {{ pageNumber }}</a>
      {% endif %}
    </div>

    <div class="current">Page {{ pageNumber | plus: 1 }} of {{ totalPages }}</div>

    <div class="next">
      {% if nextHref %}
        <div>Next »</div>
        <a href="{{ nextHref }}">Page {{ pageNumber | plus: 2 }}</a>
      {% endif %}
    </div>
  </div>
{% endif %}

