<!DOCTYPE html>
<html lang="{{ metadata.language }}">
  <head>
    <meta charset="utf-8" />

    {% if title %}
      <title>{{ title }} | {{ metadata.title }}</title>
    {% else %}
      <title>{{ metadata.title }}</title>
    {% endif %}

    {% if author %}
      <meta name="author" content="{{ author | escape }}" />
    {% else %}
      <meta name="author" content="{{ metadata.author | escape }}" />
    {% endif %}

    {% if description %}
      <meta name="description" content="{{ description | escape }}" />
    {% else %}
      <meta name="description" content="{{ metadata.description | escape }}" />
    {% endif %}

    {% if tags %}
      <meta name="keywords" content="{{ tags | except: 'posts' | join: ', ' | escape }}" />
    {% endif %}

    <meta name="generator" content="{{ eleventy.generator }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link href="/feed/atom.xml" rel="alternate" title="{{ metadata.title }}" type="application/atom+xml" />
    <link href="https://fonts.googleapis.com" rel="preconnect" />
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet" />
    <link href="/css/base.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.10.0/styles/monokai.min.css" crossorigin="anonymous" integrity="sha512-pU8Ny4jS7Uq58y/K4YLD+jF/74zC3R5SDco/Ln143vyLEmGQY7MV8p+Z5q7big/mNimhvQsfQpprGvUa2QzihQ==" referrerpolicy="no-referrer" rel="stylesheet" />

    <style>
      {% getBundle 'css' %}
    </style>
  </head>

  <body>
    <div class="container">
      <header>
        <img src="/img/header.png" />

        <nav>
          <a href="/">Blog</a>
          <a href="/about/">About</a>
          <a href="/contact/">Contact</a>
          <a href="/feed/atom.xml">Feed</a>
        </nav>
      </header>

      <main>
        {{ content }}
      </main>

      <footer>
        &copy; {{ 'now' | date: '%Y' }}
      </footer>
    </div>

    <script>
      {% getBundle 'js' %}
    </script>
  </body>
</html>

