<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />

    {% if title %}
      <title>{{ title }} | {{ metadata.title }}</title>
    {% else %}
      <title>{{ metadata.title }}</title>
    {% endif %}

    {% if author %}
      <meta name="author" content="{{ author | escape }}" />
    {% else %}
      <meta name="author" content="{{ metadata.author | escape }}" />
    {% endif %}

    {% if description %}
      <meta name="description" content="{{ description | escape }}" />
    {% endif %}

    {% if tags %}
      <meta name="keywords" content="{{ tags | filterTags | join: ', ' }}" />
    {% endif %}

    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link href="https://fonts.googleapis.com" rel="preconnect" />
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet" />
    <link href="/css/base.css" rel="stylesheet" />
  </head>

  <body>
    <div class="container">
      <header>
        <img src="/img/header.png" />

        <nav>
          <a href="/">Blog</a>
          <a href="/about/">About</a>
          <a href="/contact/">Contact</a>
        </nav>
      </header>

      <main>
        {{ content }}
      </main>

      <footer>
        &copy; {{ 'now' | date: '%Y' }}
      </footer>
    </div>
  </body>
</html>

