<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />

    {% if title %}
      <title>{{ title }} | {{ metadata.title }}</title>
    {% else %}
      <title>{{ metadata.title }}</title>
    {% endif %}

    {% if author %}
      <meta name="author" content="{{ author | escape }}" />
    {% else %}
      <meta name="author" content="{{ metadata.author | escape }}" />
    {% endif %}

    {% if description %}
      <meta name="description" content="{{ description | escape }}" />
    {% endif %}

    {% if tags %}
      <meta name="keywords" content="{{ tags | filterTags | join: ', ' }}" />
    {% endif %}

    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link href="/css/normalize.css" rel="stylesheet" />
    <link href="/css/base.css" rel="stylesheet" />
  </head>

  <body>
    <header>
      <div class="title">{{ metadata.title }}</div>

      <nav>
        <div>
          <a href="/">Blog</a>
        </div>
        <div>
          <a href="/about/">About</a>
        </div>
        <div>
          <a href="/contact/">Contact</a>
        </div>
      </nav>
    </header>

    <div class="container">
      {{ content }}
    </div>

    <footer>
      &copy; {{ 'now' | date: '%Y' }}
    </footer>
  </body>
</html>

