<!DOCTYPE html>
<html lang="en">
  <head>
    {% if title %}
      <title>{{ title }} | {{ metadata.siteTitle }}</title>
    {% else %}
      <title>{{ metadata.siteTitle }}</title>
    {% endif %}

    <link href="/css/normalize.css" rel="stylesheet" />
    <link href="/css/base.css" rel="stylesheet" />
    <link href="/css/home.css" rel="stylesheet" />

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>

  <body>
    <div class="page">
      <div class="main">
        <div class="title">{{ metadata.siteTitle }}</div>

        {% render '_nav' %}
      </div>

      <footer>
        &copy; {{ 'now' | date: '%Y' }}
      </footer>
    </div>
  </body>
</html>

