---
layout: base.liquid
---

<div class="post">
  <div class="header">
    {% if title %}
      <h1 class="title">{{ title }}</h1>
    {% endif %}

    {% if description %}
      <div class="description">{{ description }}</div>
    {% endif %}

    {% if date %}
      <div class="date">{{ date | date: '%B %e, %Y' }}</div>
    {% endif %}

    {% assign tags = tags | except: 'posts' %}

    {% if tags %}
      <div class="tags">
        {% for tag in tags %}
          <a href="/tags/{{ tag | slugify }}/">#{{ tag }}</a>
        {% endfor %}
      </div>
    {% endif %}
  </div>

  {{ content }}
</div>

{% assign previousPost = collections.posts | getPreviousCollectionItem %}
{% assign nextPost = collections.posts | getNextCollectionItem %}

{% if previousPost or nextPost %}
  <div class="pagination">
    <div class="previous">
      {% if previousPost %}
        <div>« Previous</div>
        <a href="{{ previousPost.page.url }}">{{ previousPost.data.title }}</a>
      {% endif %}
    </div>

    <div class="next">
      {% if nextPost %}
        <div>Next »</div>
        <a href="{{ nextPost.page.url }}">{{ nextPost.data.title }}</a>
      {% endif %}
    </div>
  </div>
{% endif %}

